@import "../variables.css";
body {
    margin:0;
}

.container {
    background-color: #1966be;
    /*position: relative;*/

    /*border-radius: 50px;*/
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr;
    grid-template-rows: auto auto 8vh;
    gap: 10px;

    grid-template-areas:
        "header"
        "loginContent"
        "footer";
}

.navigationHeader {
    grid-area: header;

    background-color: #ec1f8c !important;
}

.divInner2 {
    grid-area: loginContent;
    background-color: yellow;

}

.divInner3 {
    grid-area: footer;
    background-color: red;
}
