:root {
    --myVar-ahoj:blue;
}

body {
    width: 100%;
    height: 100vh;
}

.cover {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15fr 1fr;
    grid-template-areas:
        "header"
        "loginContent"
        "footer";;
}


.navigationHeader {
    grid-area: header;
}

.loginContent {
    grid-area: loginContent;
    position:relative;
    background-color: var(--myVar-greyOfBackground);
    width: 100%;
    min-width: 400px;
    min-height: 400px;
}

.formularLogin {
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: var(--myVar-creme);
    padding: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submitLoginButton {
    background-color: var(--myVar-darkBlue);
    transform: translateY(10px);
    color: var(--myVar-creme);
    padding: 5px 15px;
    border-radius: 8px;
}

.passwordResetText {
    color: var(--myVar-darkBlue);
    transform: translate(5px, -9px);
}

.passwordResetText:hover {
    text-decoration: underline;
    cursor: pointer;
}


.footerik {
    grid-area: footer;
    background-color: var(--myVar-greenOfFooter);
    color: var(--myVar-creme);
    width: 100%;
    text-align: center;
}



@media screen and (max-width: 576px) {
    .formularLogin {
        /*font-size: 75%;*/
        width: 250px;
        min-width: 200px;
        min-height: 200px;
    }

    .loginContent {
        min-width: 220px;
    }
}