:root {
    --myVar-currentDay:5;
    --myVar-darkBlue: #084886;
    --myVar-greyOfBackground: rgba(1, 2, 0, 0.05);
    --myVar-greyOfBorders: #867f7f;
    --myVar-creme: rgb(252, 252, 249);
    --myVar-greenHeader: rgba(148, 224, 138, 0.97);
    --myVar-greenOfFooter: rgba(42, 210, 20, 0.36);
    --myVar-available: rgba(157, 234, 157, 0.45);
}

.content {
    margin: 0;
}

.workingHoursStickyContainer {
    width: 100%;
    height: 20px;
    /*background-color: #084886;*/
    position: sticky;
    top: 90px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.workingHours {
    width: 210px;
    color: var(--myVar-greyOfBorders);
    /*position: relative;*/
    /*top: 0;*/
    /*left: 7vh;*/
    font-weight: bold;
    font-size: 95%;
    text-align: left;
}

/*table, th, td {*/
.tableOpeningHours {
    width: 210px;
    border-collapse: collapse;
    border: 1px solid rgba(105, 105, 105, 0.34);
    /*padding: 15px;*/

    color: var(--myVar-greyOfBorders);
    background-color: var(--myVar-creme);
    /*justify-self: center;*/
    /*border-radius: 10px;*/
    font-size: 95%;
    /*position: relative;*/
    /*top: 0;*/
    /*left: 2vw ;*/
    /*transform: translate(23%, 23%);*/
}

.workingHoursBottomContainer {
    display: none;
}

.tableOpeningHours tr, td {
    padding: 5px 10px;
    border: 1px solid rgba(105, 105, 105, 0.34);
}

.tableOpeningHours tr:nth-child(2) {
    font-weight: bold;
}

.navigationHeader {
    background-color: var(--myVar-greenHeader);
    font-weight: bold;
    position: sticky;
    top:0;
    z-index: 1;
    opacity: 100%;
}

.itemOfNavbar, .navbar-brand {
    color: var(--myVar-darkBlue);
    font-size: 5vw;
}

.itemOfNavbar:hover, .navbar-toggler:hover {
    border-radius: 10px;
    color: #1966be;
    background-color: rgba(215, 248, 175, 0.29);
}

.dropdown-menu {
    background-color: #fffff7;
    border: 3px solid rgba(42, 210, 20, 0.36);
}

.dropdown-item {
    color: #084886;
    font-weight: normal;
}

.navbar-toggler {
    color: var(--myVar-darkBlue);
}

.footer {
    width: 100%;
    height: 5vw;
    background-color: var(--myVar-greenOfFooter);
}

.contentGridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 0;
    width: 100%; /* keby som dal 100vw - tak mi da aj side-scroll bar, pretoze, horizontalna scroll bar mi zabera z viewPortu
                    predkom je iba obal pre vsetky hlavne komponenty {navbar, content, footer} */
    position: relative;
    top:0;
    left:0;
}

.leftSideContentItem {
    background-color: var(--myVar-greyOfBackground);
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}

.middleContentItem {
    background-color: var(--myVar-creme);
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 9;
    height: 100%;
    position: relative;
    top:0;
    left:0;
    /*border: 1px solid #084886;;*/
}

.rightSideContentItem {
    background-color: var(--myVar-greyOfBackground);
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 13;
    /*position: relative;*/
}


.h3Actualities {
    margin-top: 1vw;
    margin-left: 3vw;
    margin-bottom: 2vw;
    color: var(--myVar-darkBlue);
}


.cardsGrid {
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 3vw;

    width: 100%;
    height: auto;
    place-items: center;
    margin-bottom: 1vw;
}

.cardImage {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.card:hover {
    border: 1px solid var(--myVar-greyOfBorders);
    box-shadow: black;
}

.card {
    width: 80%;
}

.card-text {
    color: var(--myVar-darkBlue);
}
.card-title {
    color: var(--myVar-darkBlue);
}

.card:hover .card-title {
    color: #86084b;
    text-decoration: underline;
}

.pageCounter {
    display: flex;
    position: relative;
    bottom: 0;
    align-content: center;
    justify-content: center;
    /*transform: translateX(50%);*/
}

ul.pagination a.page-link {
    color:#1966be;;
}

ul.pagination a.page-link:hover {
    color: var(--myVar-darkBlue);
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .itemOfNavbar, .navbar-brand {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .workingHoursStickyContainer {
        display: none;
    }

    .leftSideContentItem {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .middleContentItem {
        grid-column-start: 2;
        grid-column-end: 12;
    }

    .rightSideContentItem {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 12;
        grid-column-end: 13;
    }

    .workingHoursBottomContainer{
        display: block;
        position: relative;
        top:0;
        left:0;
        /*background-color: purple;*/
        text-align: center;
        border-top: 5px solid var(--myVar-greyOfBackground);

    }

    .workingHours {
        height: 100% ;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-30%);
        padding: 15px 0;
    }

    .tableOpeningHours {
        transform: translate(13%, -5%);
        margin-bottom: 10px;
        font-size: 3vw;
        width: 80%;
    }

}

@media screen and (min-width: 1200px) {
    .itemOfNavbar, .navbar-brand {
        font-size: 1.1vw;
    }
}

@media screen and (max-width: 174px) {
    span.homeButtonName {
        display: none;
    }

    i.homeButtonIcon {  /* ikonka je vytvorena ako font pismo */
        font-size: 50vw;
    }
}