:root {
    --myVar-currentDay:5;
    --myVar-darkBlue: #084886;
    --myVar-greyOfBackground: rgba(1, 2, 0, 0.05);
    --myVar-greyOfBorders: #867f7f;
    --myVar-creme: rgb(253, 253, 249);
    --myVar-greenHeader: rgba(148, 224, 138, 0.97);
    --myVar-greenOfFooter: rgba(42, 210, 20, 0.36);
    --myVar-available: rgba(157, 234, 157, 0.45);
    --myVar-unavailable: rgb(222, 198, 198);
}